.validationDetails {
    margin-left: 75px;
    margin-right: 75px;
}

.testDesc {
    margin-left: 70px;
    margin-block-start: 0.4em;
}

.testHeader {
    color: rgb(50, 50, 50);
    margin-left: 35px;
    margin-block-end: 0.4em;
}

p {
    font-size: 12pt;
}