.header {
    margin-bottom: 3%;
}

.mainHeader {
    font-size: 55pt;
    font-weight: 800;
    margin: 1%;
    margin-bottom: 0px;
}

.secondaryHeader {
    font-size: 20pt;
    font-weight: 500;
    margin: 1%;
    margin-top: 0px;
    color: rgba(39.525, 55.335, 74.46, 165.75);
}
