.header {
    margin-bottom: 2%;
}

.mainHeader {
    font-size: 55pt;
    font-weight: 800;
    margin: 1%;
    margin-bottom: 0%;
}

.secondaryHeader {
    font-size: 20pt;
    font-weight: 500;
    margin: 1%;
    margin-top: -1%;
    margin-left: 1.1%;
    color: rgba(39.525, 55.335, 74.46, 1);
}
