.menuItem {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 0px;
}

.activeTab {
    text-decoration: none;
    color: white;
    font-size: 12pt;
    margin: 4px;
    font-weight: bold;
}

.inactiveTab {
    text-decoration: none;
    color: white;
    font-size: 12pt;
    margin: 4px;
    font-weight: normal;
}